:root {
    --border-radius-small: 25%;
    --state-1-color: #eee;
    --state-2-color: #000;
  }


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

@media screen and (max-width: 550px) {
    .square {
        width: 20vw;
        height: 20vw;
    }
}
@media screen and (min-width: 551px) {
    .square {
        width: 6vw;
        height: 6vw;
    }
}

.text {
    position: absolute;
    top: 34vh;
    left: 10vw;
    font-size: 6.6rem;
    color: #fff;
    z-index: -1;
    font-weight: 800;
    line-height: 1.12;
    margin: 1.5rem 0;
    mix-blend-mode: difference;
}
.text span {
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: -1px;
}

.text.top-right {
    right: 3rem;
    top: 3rem;
    left: auto;
}

.container {
    display: flex;
    flex-direction: column;

}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    /* width: 6vw;
    height: 6vw; */
    background-blend-mode: difference;
    mix-blend-mode: difference;
}
.straight-sq {
    display: flex;
}

.state-1 {
    background-color: var(--state-1-color);
}
.state-1.invert-sq {
    background-color: var(--state-2-color);
}

.state-2 {
    background-color: var(--state-2-color);
}
.state-2.invert-sq {
    background-color: var(--state-1-color);
}

.state-1 div {
    background-color: var(--state-2-color);
    width: 100%;
    height: 100%;
}
.state-2 div {
    background-color: var(--state-1-color);
    width: 100%;
    height: 100%;
}

.inner {
    border-radius: 1.5vw;
}
.full {
    border-radius: none;
}
.straight {
    width: 20% !important;
    height: 20% !important;
    border-radius: none !important;
}
.state-2 .invert {
    background-color: var(--state-2-color);
}
.state-1 .invert {
    background-color: var(--state-1-color);
}
.state-2 .full {
    background-color: var(--state-2-color);
}
.state-1 .full {
    background-color: var(--state-1-color);
}
/* two sided */

.right-down {
    border-top-left-radius: var(--border-radius-small);
}
.left-down {
    border-top-right-radius: var(--border-radius-small);
}
.right-top {
    border-bottom-left-radius: var(--border-radius-small);
}
.left-top {
    border-bottom-right-radius: var(--border-radius-small);
}
.top-down.straight {
    height: 100%;
    margin: 0 auto;
}
.left-right.straight {
    width: 100%;
}

/* one sided */
.left {
    border-top-right-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
}
.right {
    border-top-left-radius: var(--border-radius-small);
    border-bottom-left-radius: var(--border-radius-small);
}
.top {
    border-bottom-right-radius: var(--border-radius-small);
    border-bottom-left-radius: var(--border-radius-small);
}
.down {
    border-top-left-radius: var(--border-radius-small);
    border-top-right-radius: var(--border-radius-small);
}
.top.straight {
    height: 50%;

}
.down.straight {
    height: 50%;
    align-self: flex-end;
}


