:root {
    --border-radius-small: 25%;
    --state-1-color: #eee;
    --state-2-color: #000;
  }

@font-face {
    font-family: 'font-2';
    src:  url('assets/MAZIUSREVIEW20.09-Extraitalic.woff') format('woff');
}
@font-face {
    font-family: 'font-3';
    src:  url('assets/Solide_Mirage-Mono_web.woff') format('woff');
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    background-color: #000;
}

@media screen and (max-width: 550px) {
    .square {
        width: 20vw;
        height: 20vw;
    }
}
@media screen and (min-width: 551px) {
    .square {
        width: 5vw;
        height: 5vw;
    }
}

.text {
    position: absolute;
    top: 34vh;
    left: 10vw;
    font-size: 6.6rem;
    color: #fff;
    z-index: -1;
    font-weight: 800;
    line-height: 1.12;
    margin: 1.5rem 0;
    mix-blend-mode: difference;
}
.text span {
    font-weight: 300;
    font-family: 'font-3';
    /* font-style: italic; */
    letter-spacing: -0.1em;
    font-size: 3.2rem;
}

.text span.adres {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 3.1rem;
    font-weight: 200;
    line-height: 1.16;
    display: block;
    margin-top: 2rem;
    letter-spacing: 1px;
}

.text.top-right {
    right: 2rem;
    top: -2rem;
    left: auto;
    font-weight: 200;
    letter-spacing: 0.08em;
}

.text.turned {
    transform: rotate(270deg);
    position: fixed;
    left: 10rem;
    text-align: center;
    font-size: 9rem;
    bottom: -1rem;
    font-weight: 200;
    letter-spacing: 0.08em;
    transform-origin: bottom left;
    top: unset;
    white-space: nowrap;
}

.text.date {
    line-height: 0.8;
    left: 66vw;
    top: 75vh;
}

.text.turned span{
    vertical-align: 0.6em;
}

.text.invite {
    font-family: 'font-3';
    font-size: 4.36rem;
    width: 50vw;
    top: 11vh;
    line-height: 1.3;
    letter-spacing: -0.08em;
}

.text.names {
    top: 4.5rem;
    right: 2rem;
    left: auto;
    white-space: nowrap;
    font-size: 2.3rem;
    font-weight: 200;
    letter-spacing: 0.1em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.text.names.down {
    top: unset;
    bottom: 3rem;
}

.text.gerrit {
    top: 125vh;
    line-height: 0.9;
    font-weight: 200;
    letter-spacing: 0.08em;
    font-size: 7rem;
}

.text.program {
    top: 151vh;
    font-weight: 300;
    font-family: 'font-3';
    letter-spacing: -0.1em;
    font-size: 3.2rem;
    left: 45vw;
}

.text.program p {
    font-size: 4.82rem;
}

.agenda {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    background-color: #fff;
    color:#000;
    padding-bottom: 1.8rem;
}
.agenda span {
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.container {
    display: flex;
    flex-direction: column;
    position: fixed;
    mix-blend-mode: difference;
    filter: blur(27px);
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    /* width: 6vw;
    height: 6vw; */
    background-blend-mode: difference;
    mix-blend-mode: difference;
}

.state-1 {
    background-color: var(--state-1-color);
}

.state-2 {
    background-color: var(--state-2-color);
}


/* scrolling */

.scroll-container {
    /* border: 3px solid black;
    border-radius: 5px; */
    overflow: hidden;

  }

  .scroll-text {
    position: fixed;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 90s linear infinite;
    -webkit-animation: my-animation 90s linear infinite;
    animation: my-animation 90s linear infinite;
  }

  .scroll-text.down {
    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation-2 90s linear infinite;
    -webkit-animation: my-animation-2 90s linear infinite;
    animation: my-animation-2 90s linear infinite;

    animation-delay: 30s;
  }

  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }

  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}

/* for Firefox */
@-moz-keyframes my-animation-2 {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }

  /* for Chrome */
  @-webkit-keyframes my-animation-2 {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }

  @keyframes my-animation-2 {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
}
